body {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    background-color: #e3d5be;
}

p {
    font-family: 'Garamond';
    font-size: large;
    text-indent: 1em;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 0.5em;
    margin-bottom: 0.5em
}

img {
    border-style: none;
    vertical-align: middle;
    width: 25%;
}

.fig {
    align-items: center;
}

figcaption {
    font-family: cursive;
    text-align: center;
    line-height: 1.5;
    color: grey;
}

table {
    margin-left: auto;
    margin-right: auto;
    line-height: 200%;
}

.toc {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}